.content {
  .failed-adding::placeholder {
    opacity: 1 !important;
    color: #ff3e3e !important;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5) !important;
  }
}

.content-dark {
  background-color: #4e504b;
  color: var(--foreground);

  .add-task-dark {
    background-color: #696969;
  }
}

.content-light {
  background-color: var(--foreground);
  background-color: #eaeaea;
  color: var(--background);

  .add-task-light {
    background-color: #994747;
  }
}
